<div class="row">
  <div class="col">
    <div class="card mx-auto note_card card_about">
      <div class="card-body">
        <h1>Acerca de la aplicacion</h1>
        <p clsss="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dignissim ex id magna auctor, 
          quis placerat felis elementum. Cras ornare porttitor mi in posuere. Aliquam convallis odio in iaculis feugiat. 
          Suspendisse ac orci mattis, blandit elit ut, fermentum magna. Nullam fringilla maximus lorem eu semper. 
          Vivamus cursus ipsum ac dolor luctus porta. Integer quis blandit leo, ut placerat ligula. Nullam pharetra tempus odio, 
          eget facilisis risus aliquam id. Morbi tincidunt euismod turpis eget mollis. Nulla suscipit semper imperdiet.</p>
      </div>
    </div>
  </div>
  
</div>