<div class="row">
  <div class="col">
    <div class="card mx-auto note_card card_about">
      <div class="card-body">
        <h1>Acerca de la aplicacion</h1>
        <p clsss="lead">El siguiente proyecto tiene como propósito crear una aplicación web 
          para la administración de tareas por hacer con un diseño minimalista. El usuario 
          podrá crearse una cuenta para hacer uso de la aplicación y tener guardadas la 
          notas que cree en su sesión. Estas notas podrán ser modificadas, eliminadas y se les 
          podrá asignar un estado para que el usuario pueda saber en qué fase o estado se 
          encuentra la tarea que creo. Los 3 estados posibles que podrá tener una tarea son 
          [‘por hacer’, ‘haciendo, ‘terminado’]</p>
      </div>
    </div>
  </div>
  
</div>