body {
  /* background: #33ff49;  
  background: -webkit-linear-gradient(to right,#33ff49,#33ff49);
  background: linear-gradient(to right, #2B32B2, #1488CC); */

  background-color: #00f668;
}

.logo {
  width: 30%;
}
